# Airflow
AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Weather Database
WEATHER_DB_USER=weather_user
WEATHER_DB_PASSWORD=weather_pass
WEATHER_DB_NAME=weather_db

# Get your free API key at https://openweathermap.org/api
OPENWEATHER_API_KEY=your_api_key_here